
= render partial: 'devise/shared/side_bar'

.right
  .right__header
    .right__header__main
      .right__header__main__group
        = @group.name
      .right__header__main__member
        - member = 'Member: '
        - @group.users.each do |user|
          - member += user.name + ' '
        %p #{member}

    .right__header__btn
      = link_to "Edit", edit_group_path(params[:group_id]), class: "right__header__btn--link"

  .right__contents
    = render @messages
    -# - @messages.each do |message|
    -#   = render partial: 'messages/messages', locals: {message: message}
    
  .right__form
    .right__form__input
      = form_for([@group, @message], url: "/groups/#{params[:group_id]}/messages", method: :post, html: {class: 'right__form__input--form'}) do |f|
        = f.text_field :text, class: "right__form__input--field" , size: "40", placeholder: "type a message"
        = f.label :image, class: "right__form__input--label" do
          = fa_icon 'image'
          = f.file_field :image, class: "right__form__input--file"
        = f.submit "Send", class: "right__form__input--submit"
  -# %i.fa.fa-image