/ ユーザー編集ページに遷移するためのパスを追加
.left
  .left__header
    .left__header__name
      %p.left__header__name--mainname
        = current_user.name
      %ul.left__header__name__ul
        %li.left__header__name__ul__li
          = link_to new_group_path do
            = fa_icon 'edit', class: "left__header__name__ul__li--icon"
        %li.left__header__name__ul__li
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: "left__header__name__ul__li--icon"

  .left__side
    - current_user.groups.each do |group|
      .left__side__box
        .left__side__box__group
          = link_to group.name, group_messages_path(group.id), class: "left__side__box__group--text"
        .left__side__box__word
          = link_to "#{group.show_last_text}", group_messages_path(group.id), class: "left__side__box__word--text"
          -# = link_to group.messages.last.text if group.messages, "#", class: "left__side__box__word--text"

